body {
  overflow: hidden;
}

#canvas {
    position:absolute;
    left : 20px;
    top: 20px;
    width:1000px;
    height:800px;
    background:#cfce72;
    
}

body{
    background: #38420b;
}

.obstacle {
    position: absolute;
    background: green;
}

.water {
    position: absolute;
    background: blue;
}