body {
  overflow: hidden;
}

#title {
    margin-left: auto ;
    margin-right: auto ;
    font-family: "Georgia", "Times New Roman", serif;
    font-size:48px;
    text-align:center;
    color:#bad32e;
}

#outercanvas {
    margin-left: auto ;
    margin-right: auto ;
    /* position:absolute;
    left : 20px;
    top: 20px;*/
    width:800px;
    height:800px;
    background:#2c3f65;
    overflow:hidden;
    border: 8px dashed #bad32e;
    /* background-image:url('../media/tile-ocean.png'); */
}

#canvas {
    position:relative;
    left : 20px;
    top: 20px;
    width:1600px;
    height:1600px;
    background:#cfce72;
    background-image:url('../media/tile-dry-ground.png');
    
}

body{
    background: #38420b;
}

.obstacle {
    position: absolute;
    /* background: green; */
    background-image:url('../media/tile-bush-sm.png');
    /* border-radius: 4px;*/
    /* -moz-border-radius: 4px;*/
    /* border: 1px #262b09 solid; */
}

.water {
    position: absolute;
    background: #2c3f65;
    background-image:url('../media/tile-ocean.png');
}
